<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.jpcode.stfx.dao.mybatis.TaskMapper" >

   <select id="findList" resultType="net.jpcode.stfx.entity.TaskInfo">
  	select *
  	  from taskinfo
  </select>
  
  <update id="update">
  	update taskinfo set
  	  jobData=#{jobData},
  	  cronExp=#{cronExp},
  	  modified=#{modified},
  	  del=#{del}
  	where id=#{id}
  </update>
  
  <update id="updateExecute">
  	update taskinfo set
  	  executeCount=executeCount+1,
  	  lastExecute=now()
  	where id=#{taskId}
  </update>
  
</mapper>